body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.to-do div{
    height: auto;
    display: flex;
    justify-content: right;
    justify-content: space-between;
    padding: 3px 6px;
}

.to-do div button{
    background-color: red;
    width: 40px;
    height: 20px;
    cursor: pointer;
}


.Box{
    background-color: grey;
    padding: 20px 40px;
}

.to-do{
    padding: 10px;
    background-color: black;
}

#inputfield{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    background-color: greenyellow;
    cursor: pointer;
    


}

.to-dos{
    margin-top: 25px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}